on: [push]

name: test

jobs:
  check-foundry:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run tests
        run: forge test -vvv

      - name: Run snapshot
        run: forge snapshot

  check-hardhat:
    name: Hardhat project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"

      - name: Install HartHat
        run: npm ci --dev

      - name: Run test
        run: npx hardhat test
        env:
          ARCHIVE_NODE_API: ${{ secrets.ARCHIVE_NODE_API}}
